//---------Button Styles--------------//
.button {
    float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.button--wayra {
	overflow: hidden;
	width: 245px;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	background: #37474f;
	z-index: -1;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button--wayra:hover {
	color: #fff;
	border-color: black;
}
//
.button--wayra:hover::before {
	opacity: 1;
	color: 'white';
	// background-color: #3f51b5;
	background-color: lightcyan;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--border-thick {
	border: 3px solid;
}
.button--text-upper {
	letter-spacing: 2px;
	text-transform: uppercase;
	
}
.button--size-s {
	font-size: 8px;
}
// .button--wayra:hover.button-text {
// 	color: white;
// }
.button-text {
    font-family: 'Lato', sans-serif;
    // fontWeight: 'bold'
    // marginTop: 50,
	// marginBottom: 50
	color: black;
    // color: white;
    // top: 20px;
  }
  .button-text:hover {
    font-family: 'Lato', sans-serif;
    // fontWeight: 'bold'
    // marginTop: 50,
	// marginBottom: 50
	// color: white;
    // color: white;
	// top: 20px;
	text-decoration: none;
  }
  a h5:hover {
	  color: black;
	  text-decoration: none;
  }
  //------------Dialog Grid Styles--------------//
  .image-side {
	position: relative;
	bottom: -20px;
	// margin-bottom: 50%;
//   transform: translateY(-50%);
}
// .MuiDialogContent-root {
// 	background-image: url("./assets/img/dragonflyCut.jpg");
// 	background-size: contain;
// 	background-repeat: no-repeat;
//   }

.dialog-box {
	background-image: url("./assets/img/dragonfly.jpg");
	background-size: contain;
	// background-repeat: no-repeat;
}

.content-box {
	background-color: rgb(231, 231, 231);
	// padding: 20px;
	border: solid 1px grey;
	margin-top: 20px;
	padding: 20px;
	min-height: 58vh;
	width: 100%;
}
@media only screen and (max-width: 1003px) {
	.content-box {
		// max-width: 298px;
		min-width: 306px;
		// min-height: auto;
	}
	.image-side {
		padding: 0px !important;
	}
}
@media only screen and (max-width: 450px) {
	.content-box {
		max-width: 298px;
		min-width: 298px;
		// min-height: auto;
	}
}
//Top Separator
.wrapper {
//   max-width: 400px;
}

h1 {
  line-height: 1.5;
}

.separator {
  position: relative;
  
  &.text-right {
    text-align: right;
    
    &:after{
      left: auto;
      right: 0;
    }
  }
  
  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
  }
  &:before {
    width: 100%;
    background: #C7C7C7;
  }
  
  &:after {
    width: 120px;
    background: #F45D72;
  }
}
  .product-content {
    margin-top: -40px;
  }
  @media only screen and (max-width: 450px) {
	.content-box {
		max-width: 298px;
		min-width: 298px;
		// min-height: auto;
	}
	// .content-box {
	// 	max-width: 100%;
	// 	min-width: 100%;
		
	// }
	.MuiGrid-spacing-xs-10 > .MuiGrid-item {
		// padding: 0px !important;
		width: 100%;
		margin: 0px;
	}
	.MuiGrid-spacing-xs-6 {
		width: 100%;
	}
	.button--wayra {
		width: 100%;
	}
	.dec{
		left: 20% !important;
		position: absolute;
	}
	.inc{
		right: 20% !important;
		position: absolute;
	}
}
  @media only screen and (max-width: 350px) {
	.content-box {
		max-width: 100%;
		min-width: 100%;
	}
	.MuiGrid-spacing-xs-10 > .MuiGrid-item {
		padding: 20px !important;
		width: 100%;
		margin: 0px;
	}
	.MuiGrid-spacing-xs-6 {
		width: 100%;
	}
	.button--wayra {
		width: 100%;
	}
	.dec{
		left: 20% !important;
		position: absolute;
	}
	.inc{
		right: 20% !important;
		position: absolute;
	}
}
  .grid-container {
    padding: '30px 0px 0px 30px';
  }
//Image
.imageDiv {
	position: "relative";
    margin: "20px auto 20px auto";
	// width: 100%;
	max-height: 450px;
	max-width: 100%;
	padding: 19px;
	padding-top: 45px;
}
.dec{
	left: 38%;
	// margin-left: 20px;
	position: absolute;
}
.inc{
	right: 38%;
	// margin-right: 20px;
	// margin-left: 20px;
	position: absolute;
}
.imageGrid {
	min-height: 125px;
}