// .page-container {
//     margin-left: 10%;
//     margin-right: 10%;
// }

.MuiGrid-spacing-xs-6 {
    width: calc(100% + 48px);
    margin: 0px !important;
}
.info-grid h4 {
    margin-bottom: 10px;
    
}
.info-grid p {
    margin-bottom: 10px;
    font-size: medium;
}
.info-grid h6 {
    margin-bottom: 10px;
    font-size: 14px;
}