.retreat-post-card {
    background-color: #fff;
    border: 1px solid lightgrey;
    height: 180px;
    padding: 15px;
    z-index: 0;
    position: relative;
    // margin-right: 200px;
    // margin-left: 20px;
    // display: flex;
}

.retreat-post-card:hover {
    border: 2px solid lightgrey;
}


.retreat-post-details {
    display: flex;
    flex-direction: column;
}

.retreat-post-card-info div{
    margin-top: 5px;
    text-align: center;
    color: rgb(122, 122, 122);
}

.retreat-post-content {
    flex: '1 0 auto';
}

.retreat-post-cover {
   width: 235px;
   margin-top: -10px;
}
.card-info-name{
    // max-width: 300px;
    margin-top: -10px;
    padding: 0 13px 0 13px;
}

.delete-button-div{
    position: absolute;
    margin-top: 130px;
    z-index: 100;
}

@media only screen and (max-width: 1360px) {
	.retreat-post-card {
        height: 180px;
    }
}

@media only screen and (max-width: 600px) {
	.retreat-post-card {
        height: auto;

    }
    .retreat-post-cover {
        width: 217px;
        margin-top: 10px;
    }
}