.retreat-info-grid{
    text-align: center;
}
.retreat-info-grid h3 {
    margin-bottom: -20px;
    
}
.retreat-info-grid h4 {
    margin-bottom: 10px;
    
}
.retreat-info-grid p {
    margin-bottom: 10px;
    font-size: 16px;
}
.retreat-info-grid h6 {
    margin-bottom: 10px;
    font-size: 17px;
}
.reserve-button {
    // position: relative !important;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    // left: 10%;
    // left: 20.5%;
    // right: 70.5%;
}
.align-vertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

