.retreats-info {
    // text-align: center;
    padding: 20px;
    // margin-right: 130px;
    // margin-left: 130px;
}
.retreats-info h3, .retreats-info h5{
    max-width: 800px;
    text-align: center;
    // right: 50%;
    // left: 50%;
    margin: 0 auto;
}
.retreats-info div.img-grid{
    // max-width: 800px;
    text-align: center;
    padding-top: 20px;
    // right: 50%;
    // left: 50%;
    
    margin: 0 auto;
}
.img-grid div img{
    max-width: 350px;
}
@media only screen and (max-width: 1360px) {
	.img-grid div img{
        max-width: 300px;
    }
}

@media only screen and (max-width: 1080px) {
	.img-grid div img{
        max-width: 270px;
    }
}

@media only screen and (max-width: 330px) {
	.img-grid div img{
    max-width: 249px;
}
}